{% extends '/blocks/main.twig' %}

{% block body %}
{% include '/blocks/menu.twig' %}

<div class="container">
	<div
		class="rounded-lg p-8 border border-theme-secondary-300 dark:border-theme-secondary-800 flex flex-col gap-6 w-full">
		<div class="xl:w-full">

			<h4 class="box-title">Transaction</h4>
		</div>
		<div class="pt-6 w-full border-t border-theme-secondary-300 dark:border-theme-secondary-800">
			<div class="col-12">
				<div class="box">
					<div class="box-body">
						<div>

							<div class="row justify-content-between">
								<div class="col-md-auto">
									<h5><span id='sender'></span>
										<i class="fa fa-long-arrow-right text-success px-15"></i>
										<span style="color:green;">-----></span>
										<span id='recipient'></span><br><br>
										<h5 class="text-bold text-end"><span id='amount'></span>
											<strong>ARK</strong>
										</h5>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr style="margin-top:25px;margin-bottom:25px;">
<div class="py-12 w-full container flex flex-col">
	<div class="box-header with-border">
		<h4 class="box-title">Transaction Details</h4>
	</div>
	<div class="table-container w-full">
		<table class="table no-margin table-hover">
			<tbody>
				<tr>
					<td>Transaction ID</td>
					<td id='txid'></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td id='amountsummary'> ARK</td>
				</tr>
				<tr>
					<td>Sender</td>
					<td id='senderto'></td>
				</tr>
				<tr>
					<td>Recipient</td>
					<td id='recipientto'></td>
				</tr>
				<tr>
					<td>Nonce</td>
					<td id='nonce'></td>
				</tr>
				<tr>
					<td>Timestamp</td>
					<td id='timestamp'></td>
				</tr>
				<tr>
					<td>Block ID</td>
					<td id='blockid'></td>
				</tr>
				<tr>
					<td>Confirmations</td>
					<td id='confirmations'></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>




{% endblock %}


{% block javascripts %}

<script type="text/javascript">

	$(document).ready(function () {

		var socket = io();

		socket.emit('gettransactiondetails', { transactionId: '{{ transactionId }}' });
		socket.on('showtransactiondetails', function (data) {
			console.log(data)
			$('#sender').html('<a href="/wallet/' + data.sender + '">' + data.sender + '</a>');
			$('#senderto').html('<a href="/wallet/' + data.sender + '">' + data.sender + '</a>');
			$('#recipient').html('<a href="/wallet/' + data.recipient + '">' + data.recipient + '</a>');
			$('#recipientto').html('<a href="/wallet/' + data.recipient + '">' + data.recipient + '</a>');
			$('#txid').html('<a href="/transaction/' + data.txid + '">' + data.txid + '</a>');
			$('#blockid').html('<a href="/block/' + data.blockid + '">' + data.blockid + '</a>');
			$('#amount').html(data.amount);
			//$('#amountsummary').html(parseFloat(data.amountsummary) / 100000000).toFixed(0);
			$('#confirmations').html(data.confirmations);
			$('#fee').html(data.fee);
			$('#smartbridge').html(data.smartbridge);
			$('#timestamp').html(data.timestamp);
			$('#nonce').html(data.nonce);

		});

	});
</script>

<script>
	function goBack() {
		window.history.back();
	}
</script>
<script type="text/javascript">

	$(document).ready(function () {
		$("button-txid").click(function (event) {
			event.preventDefault();
			CopyToClipboard("{{ transactionId }}", true, "Value copied");
		});
	});

	function CopyToClipboard(value, showNotification, notificationText) {
		var $temp = $("<input>");
		$("body").append($temp);
		$temp.val(value).select();
		document.execCommand("copy");
		$temp.remove();

		if (typeof showNotification === 'undefined') {
			showNotification = true;
		}
		if (typeof notificationText === 'undefined') {
			notificationText = "Copied to clipboard";
		}

		var notificationTag = $("div.copy-notification");
		if (showNotification && notificationTag.length == 0) {
			notificationTag = $("<div/>", {
				"class": "copy-notification",
				text: notificationText
			});
			$("body").append(notificationTag);

			notificationTag.fadeIn("slow", function () {
				setTimeout(function () {
					notificationTag.fadeOut("slow", function () {
						notificationTag.remove();
					});
				}, 1000);
			});
		}
	}
</script>
{% endblock %}